.background-changing {
    color: #fff !important;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB) !important; 
	background-size: 400% 400% !important;
	-webkit-animation: Gradient 45s ease infinite;
	-moz-animation: Gradient 45s ease infinite;
    animation: Gradient 45s ease infinite;
}

.shadow-box {
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75) !important;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
