<div class="ui background-changing shadow-box vertical masthead center aligned segment">
  <app-menu></app-menu>
  <div class="ui text container padded" style="padding-top: 10%; padding-bottom: 5%">
    <div class="ui fluid category search padded">
      <div class="ui icon input large">
        <input class="prompt" type="text" placeholder="Search something about gis...">
        <i class="search icon"></i>
      </div>
      <div class="results">
        
      </div>
    </div>
  </div>
</div>